#home {
    .benefits {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px 0;

        li {
            margin: 0 20px;
            padding: 5px 0 5px 35px;
            background-repeat: no-repeat;
            background-position: center left;

            &:nth-child(1) {
                background-image: url('images/icons/frete.svg');
            }

            &:nth-child(2) {
                background-image: url('images/icons/troca.svg');
            }

            &:nth-child(3) {
                background-image: url('images/icons/card.svg');
            }
        }
    }

    .slide-item {
        display: grid;
        grid-template-columns: 65% 35%;
        background: #000;

        .slide-info {
            padding: 0 20px 40px 20px;
            color: #FFF;
            align-self: end;

            .price {
                display: block;
                margin-bottom: 5px;
                font-weight: 300;
                color: rgba(255, 255, 255, .5);
            }

            h2 {
                font-size: 1.5rem;
                font-weight: 300;
                margin-bottom: 20px;
            }
        }

        @media(max-width: 800px) {
            grid-template-columns: 1fr;
            grid-gap: 20px;
            .slide-info{
                margin-top: 20px;
            }
        }
    }
}

.categories-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;

    a {
        display: grid;

        &:nth-child(1) {
            border-top: 10px solid $black;
        }

        &:nth-child(2) {
            border-bottom: 10px solid $black;

            span {
                justify-self: start;
                margin-left: 40px;
                margin-bottom: 30px;
            }
        }

        img {
            grid-area: 1/1;
        }

        span {
            grid-area: 1/1;
            align-self: end;
            justify-self: end;
            margin-right: 40px;
            margin-bottom: 40px;
            width: 160px;
        }
    }
}