.products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;

    h2 {
        margin-top: 5px;
        font-size: 0.725rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }

    a {
        display: grid;

        .product-info {
            grid-area: 1/1;
        }

        .product-overlay {
            grid-area: 1/1;
            background: rgba(255, 255, 255, .5);
            display: flex;
            padding: 20px;
            opacity: 0;
            transition: opacity 0.3s;

            span {
                margin: auto;
            }
        }

        &:hover {
            .product-overlay {
                opacity: 1;
            }
        }
    }

    @media(max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

// breadcrumb
.breadcrumb {
    margin: 20px auto;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: .05rem;

    .woocommerce-breadcrumb {
        padding-bottom: 20px;
        border-bottom: 2px solid $black;
    }
}

// archive
.products-archive {
    display: grid;
    grid-template-columns: 220px 1fr;

    @media(max-width: 800px) {
        grid-template-columns: 1fr;
    }
}

//pagination
.pagination {
    margin-top: 40px;

    .page-numbers {
        border-radius: 2px;
        background-color: $black;
        color: #FFF;
        padding: 4px 10px;

        &.current {
            background-color: orangered;
        }

        &.next,
        &.prev {
            background-color: #FFF;
            color: $black;
        }
    }
}

//filters
.filters {
    .filter {
        margin-bottom: 40px;

        .widget {
            margin-bottom: 40px;
            ;
        }

        h3,
        .widgettitle {
            font-size: 1.125rem;
            color: rgba(0, 0, 0, .5);
            font-weight: 400;
            margin-bottom: 20px;
            ;
            ;
        }

        .filter-price {
            input {
                font-size: 1rem;
                width: 80px;
                border: none;
                border-radius: 4px;
                background-color: rgba(0, 0, 0, .1);
                padding: 5px;
            }

            label {
                width: 60px;
                display: inline-block;
                margin-bottom: 10px;
            }

            button {
                font-size: 1rem;
                width: 144px;
                height: 36px;
                border: none;
                border-radius: 4px;
                background-color: rgba(0, 0, 0, .2);
                padding: 5px;
                cursor: pointer;
            }
        }

        .cat {
            .sub-menu {
                margin-bottom: 20px;

                li {
                    a {
                        margin-bottom: 5px;
                        display: block;

                        &:before {
                            content: ' ';
                            width: 10px;
                            height: 2px;
                            background: rgba(0, 0, 0, .5);
                            display: inline-block;
                            margin-right: 5px;
                        }
                    }

                    &.current-menu-item {
                        a {
                            color: orangered;

                            &:before {
                                background-color: orangered;
                            }
                        }
                    }
                }
            }
        }

        .woocommerce .woocommerce-widget-layered-nav-list .count {
            display: none;
        }

        .woocommerce .woocommerce-widget-layered-nav-list a::before {
            content: " ";
            text-decoration: none;
            width: 10px;
            height: 10px;
            display: inline-block;
            background-color: transparent;
            border: 2px solid $black;
            margin-right: 9px;
        }

        .woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item--chosen a::before {
            background-color: $black;
        }

    }

    @media(max-width: 800px) {
        margin-top: 40px;
        grid-row: 2;

        &:before {
            content: 'Filtrar Resultados';
            display: block;
            background-color: $black;
            color: #FFF;
            padding: 10px;
            margin-bottom: 20px;
            font-size: 1.5rem;
        }
    }
}

//order
.woocommerce-ordering {
    margin-bottom: 20px;
    margin-left: auto;
    float: none;

    select {
        font-size: 1rem;
    }
}

//single
.single-product-page {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 30px;

    .product-gallery {
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-gap: 20px;

        .product-gallery-list {
            img {
                margin-bottom: 20px;
            }
        }

        @media(max-width: 800px) {
            grid-template-columns: 1fr;

            .product-gallery-list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 20px;
                img{
                    margin: 0 10px;
                    max-width: 100px;
                }
            }
        }
    }

    .product-info {
        small {
            display: block;
            color: rgba(0, 0, 0, .5);
            font-size: 0.75rem;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 40px;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 10px;
        }

        .price {
            margin-bottom: 20px;
            font-weight: bold;
        }

        .button {
            background-color: #000;
            color: #FFF;
            padding: 12px 15px;
            min-width: 200px;
            font-size: 1rem;
            cursor: pointer;
            border: none;
            margin-bottom: 40px;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 0.3;

            &:hover {
                &:after {
                    transform: rotate(180deg);
                }
            }

            &:after {
                content: ' ';
                display: block;
                background: url('images/icons/add.svg') no-repeat center center;
                width: 16px;
                height: 16px;
            }

            &.disabled {
                opacity: .5;
                cursor: inital;
            }
        }

        .variations tr {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }

        select {
            font-size: 1rem;
        }

        .reset_variations {
            display: none !important;
        }

        .quantity {
            display: none !important;
        }

        .stock {
            margin-bottom: 10px;
        }
    }

    @media(max-width: 800px) {
        grid-template-columns: 1fr;

        .product-gallery {
            grid-row: 2;
        }

        .product-info {
            h1 {
                margin-bottom: 20px;
            }
        }
    }
}

.notification{
    margin: 20px auto;
}